
/*basics*/
.container{
	margin:30px auto auto 30px;
}

.display-inline-block{
	display: inline-block;
}
/*basics end*/

/*header*/
.logo{
	width: 100px;
	vertical-align: middle;
	padding-right: 50px;

}
.navigatian-a{
	font-size: 22px;
	color: #3d58a6;
	text-decoration: none;
	padding: 0 25px 0 25px;
	font-family: 'BPG Nino Mtavruli Bold', sans-serif;

}
.active{
	color: #ee4036;
}

/*header end*/


/*main*/
.text{
	width: 930px;
	font-family: 'BPG Ingiri Arial';
	font-size: 16px;
}
.image{
	width: 270px;
	vertical-align: top;
	margin-right: 39px;
}

.satauri{
	font-family: 'BPG Nino Mtavruli', sans-serif;
	font-size: 20px;
}
.toptext{
	margin-bottom: 23px;
}
.tarigi{
	color: white;
	background-color: #3d58a6;
	font-size: 48px;
	padding: 5px;
	margin-bottom: 7px;

}
.maisi{
	font-size: 22px;
	color: #3d58a6;
	margin-bottom: 26px;
	font-family: 'BPG Nino Mtavruli', sans-serif;
}
.calendar{
	margin-top: 40px;
}

.wrapper{
	margin-bottom: 60px;

}

/*main end*/

/*footer*/
.fb{
	height: 30px;
	
}
.divider{
	background-color: #3d58a6;
	height: 30px;
	width: 1px; 
	margin-right: 33px;
	margin-left: 33px; 
}
.yt{
	height: 30px;

}

/*footer end*/
