
/*basics*/
.container{
	margin:30px auto auto 30px;
}

.display-inline-block{
	display: inline-block;
}
/*basics end*/

/*header*/
.logo{
	width: 100px;
	vertical-align: middle;
	padding-right: 50px;

}
.navigatian-a{
	font-size: 22px;
	color: #3d58a6;
	text-decoration: none;
	padding: 0 25px 0 25px;
	font-family: 'BPG Nino Mtavruli Bold', sans-serif;

}
.active{
	color: #ee4036;
}

/*header end*/


/*main*/
.banner{
	width: 1170px;
	margin-left: 68px;
	margin-top: 80px;
	margin-bottom: 120px;
}
.satauri{	
	font-size: 24px;
	font-family: Roboto, sans-serif;
}
.divider1{
	background-color: #000000;
	width: 1px;
	height: 18px;
	margin-left: 14px;
	margin-right: 14px;
}
.text{
	font-size: 24px;
	font-family: Roboto, sans-serif;
}
.toptext{
	margin-bottom: 50px;
}


    /*leftbanner*/

.topicleft{
	font-size: 22px;
	color: #3d58a6;
	margin-bottom: 20px;
}
.pointer{
	width: 100px;
	margin-left: 20px;
	margin-right: 60px;
}
.textleft{
	font-size: 20px;
	width: 355px;
}
.leftbanner{
	margin-bottom: 110px;
	margin-left: 67px;
	background-color: #eff0f4;
	padding: 5px;
	vertical-align: middle;
}

    /*leftbannerend*/

    /*rightbanner*/

 .topicright{
	font-size: 22px;
	color: #3d58a6;
	margin-bottom: 20px;
}
.mob{
	width: 85px;
	margin-left: 20px;
	margin-right: 60px;
}
.textright{
	font-size: 20px;
	width: 355px;
}
.rightbanner{
	margin-bottom: 110px;
	margin-left: 67px;
	background-color: #eff0f4;
	padding: 5px;
	border: solid 1px;
	vertical-align: middle;
}
    /*rightbannerend*/


/*main end*/

/*footer*/
.fb{
	height: 30px;
	
}
.divider{
	background-color: #3d58a6;
	height: 30px;
	width: 1px; 
	margin-right: 33px;
	margin-left: 33px; 
}
.yt{
	height: 30px;

}
/*footer end*/
